@inherits Umbraco.Web.Macros.PartialViewMacroPage

	<ul>
	@{
		var projects = CurrentPage.AncestorOrSelf(1).Children.Where("DocumentTypeAlias = \"articlesMain\"").First().Children.OrderBy("createDate desc");
		foreach(var page in projects){
				<li><a href="@page.Url">@page.Name</a></li>
			}
	}
	</ul>