@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlesMain>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<h2>@Umbraco.Field("articlesTitle")</h2>
<section>
	<p>@Umbraco.Field("articlesBodyText")</p>
</section>