@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Error>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<section>
	<p>@Umbraco.Field("errorMessage")</p>
</section>