@import"_bootstrap-variables.scss";
@import"../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import"../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import"_custom.scss";

.testing {
    width: percentage(5/7);
    color:blue;
}