<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT siteMap ANY>
<!ATTLIST siteMap id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1061" key="c9359acc-a789-4d53-ac2f-1ec1495c3c7d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-21T14:24:36" updateDate="2016-02-21T14:24:36" nodeName="Aarhus Web Developer Corporation" urlName="aarhus-web-developer-corporation" path="-1,1061" isDoc="" nodeType="1049" creatorName="ldaine" writerName="ldaine" writerID="0" template="1048" nodeTypeAlias="homePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <metaDescription><![CDATA[Aarhus Web Developer Corporation]]></metaDescription>
    <metaKeywords><![CDATA[Aarhus, Web, Web Developer, Corporation, Aarhus Web Developer Corporation]]></metaKeywords>
    <siteTitle><![CDATA[Aarhus Web Developer Corporation]]></siteTitle>
    <mainContent><![CDATA[<p>A web developer is a programmer who specializes in, or is specifically engaged in, the development of World Wide Web applications, or distributed network applications that are run over HTTP from a web server to a web browser.</p>
<p><a href="https://en.wikipedia.org/wiki/Web_developer" target="_blank" title="Wiki: Web Developer">Wikipedia</a></p>]]></mainContent>
    <articlesMain id="1062" key="4c48c34e-65f5-448b-a7a1-aa0f4dedc0f0" parentID="1061" level="2" creatorID="0" sortOrder="0" createDate="2016-02-21T14:26:53" updateDate="2016-02-21T14:26:53" nodeName="Articles" urlName="articles" path="-1,1061,1062" isDoc="" nodeType="1053" creatorName="ldaine" writerName="ldaine" writerID="0" template="1052" nodeTypeAlias="articlesMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <metaDescription><![CDATA[Aarhus Web Developer Corporation Articles]]></metaDescription>
      <metaKeywords><![CDATA[Aarhus Web, Web Developer, Corporation, Aarhus Web Developer Corporation]]></metaKeywords>
      <articlesTitle><![CDATA[Articles: Whats New?]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>This section focuses on what is new in the web development world.</p>]]></articlesBodyText>
      <articleItem id="1064" key="301134ba-6f0b-4b90-b97a-b3ea76ca7e10" parentID="1062" level="3" creatorID="0" sortOrder="0" createDate="2016-02-21T14:31:36" updateDate="2016-02-21T14:34:48" nodeName="9 ways to use mind control" urlName="9-ways-to-use-mind-control" path="-1,1061,1062,1064" isDoc="" nodeType="1055" creatorName="ldaine" writerName="ldaine" writerID="0" template="1054" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[9 ways to use mind control in web design]]></articleTitle>
        <articleContent><![CDATA[<p>Learn the secrets of how to guide users through your site with the help of this infographic.</p>
<p><a href="http://www.creativebloq.com/infographic/9-ways-use-mind-control-web-design-21619276" target="_blank" title="9 ways to use mind control in web design">Creative Bloq</a></p>]]></articleContent>
      </articleItem>
      <articleItem id="1065" key="437500e2-629b-4f16-844c-558b4d31109c" parentID="1062" level="3" creatorID="0" sortOrder="1" createDate="2016-02-21T14:33:29" updateDate="2016-02-21T14:33:29" nodeName="Write code on the go" urlName="write-code-on-the-go" path="-1,1061,1062,1065" isDoc="" nodeType="1055" creatorName="ldaine" writerName="ldaine" writerID="0" template="1054" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Write code on the go with this powerful Cloud-based editor]]></articleTitle>
        <articleContent><![CDATA[<p>You won't find a more powerful tool for developers on the go than Codeanywhere. The robust cloud-based platform gives you the tools you need to easily write, edit, and collaborate on your coding projects no matter where you are or if you're on mobile or desktop. It can handle over 75 coding languages and connect via just about any service you use for storing files.</p>
<p> </p>
<p><a href="http://www.creativebloq.com/web-design/write-code-go-powerful-cloud-based-editor-21619329" target="_blank" title="Write code on the go with this powerful Cloud-based editor">Creative Bloq</a></p>]]></articleContent>
      </articleItem>
    </articlesMain>
    <projectsMain id="1063" key="a6ed58c6-ddde-4175-b4f1-1cee8316480e" parentID="1061" level="2" creatorID="0" sortOrder="1" createDate="2016-02-21T14:29:14" updateDate="2016-02-21T14:29:14" nodeName="Projects" urlName="projects" path="-1,1061,1063" isDoc="" nodeType="1057" creatorName="ldaine" writerName="ldaine" writerID="0" template="1056" nodeTypeAlias="projectsMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <metaDescription><![CDATA[Aarhus Web Developer Corporation Projects]]></metaDescription>
      <metaKeywords><![CDATA[Aarhus Web, Web Developer, Corporation, Aarhus Web Developer Corporation, Projects]]></metaKeywords>
      <projectsBodyText><![CDATA[<p>Aarhus Web Developer Corporation is focusing on new projects and new approaches to build a innovative and playful community f web developers. </p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Collaborate, Create, Learn]]></projectsTitle>
      <projectItem id="1066" key="481c6ddf-c552-4cda-96d7-762b540bf134" parentID="1063" level="3" creatorID="0" sortOrder="0" createDate="2016-02-21T14:34:13" updateDate="2016-02-21T20:53:30" nodeName="Aarhus Web Developer Cooperation Website" urlName="aarhus-web-developer-cooperation-website" path="-1,1061,1063,1066" isDoc="" nodeType="1060" creatorName="ldaine" writerName="ldaine" writerID="0" template="1059" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Aarhus Web Developer Cooperation Website]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>Create Aarhus Web Developer Cooperation Website using Umbraco CMS.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1074" key="4907bf46-39b5-4f2c-8574-04f1a83d84fb" parentID="1063" level="3" creatorID="0" sortOrder="1" createDate="2016-02-21T20:29:14" updateDate="2016-02-21T20:29:14" nodeName="App For Apple Fans" urlName="app-for-apple-fans" path="-1,1061,1063,1074" isDoc="" nodeType="1060" creatorName="ldaine" writerName="ldaine" writerID="0" template="1059" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[App For Apple Fans]]></projectTitle>
        <projectDescription><![CDATA[<p>App For Apple Fans</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1075" key="4d7d0133-a4c6-4305-bc40-34993bd7adcf" parentID="1063" level="3" creatorID="0" sortOrder="2" createDate="2016-02-21T20:54:08" updateDate="2016-02-21T20:54:37" nodeName="Completed Project 3" urlName="completed-project-3" path="-1,1061,1063,1075" isDoc="" nodeType="1060" creatorName="ldaine" writerName="ldaine" writerID="0" template="1059" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Completed Project 3]]></projectTitle>
        <projectStatus>8</projectStatus>
      </projectItem>
    </projectsMain>
    <aboutUs id="1072" key="0c5fa97b-e722-4f22-a1a3-fa4f0352c8e2" parentID="1061" level="2" creatorID="0" sortOrder="2" createDate="2016-02-21T14:57:20" updateDate="2016-02-21T17:36:16" nodeName="About Us" urlName="about-us" path="-1,1061,1072" isDoc="" nodeType="1070" creatorName="ldaine" writerName="ldaine" writerID="0" template="1069" nodeTypeAlias="aboutUs">
      <umbracoNaviHide>0</umbracoNaviHide>
      <gridLayout><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Main",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Here is who we are!",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1073,
                    "image": "/media/1002/web_development_process.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "headline",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>For happier web</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "headline",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>for enlightened people</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "headline",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>For enchanted Skills</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "d4bc10c3-b970-f17e-a010-39882dfe121d",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></gridLayout>
    </aboutUs>
    <siteMap id="1080" key="aca0763e-6976-4690-981b-758bcd287c35" parentID="1061" level="2" creatorID="0" sortOrder="3" createDate="2016-02-26T12:06:53" updateDate="2016-02-26T12:06:53" nodeName="Site Map" urlName="site-map" path="-1,1061,1080" isDoc="" nodeType="1079" creatorName="ldaine" writerName="ldaine" writerID="0" template="1078" nodeTypeAlias="siteMap">
      <umbracoNaviHide>0</umbracoNaviHide>
    </siteMap>
  </homePage>
  <homePage id="1077" key="878de834-3916-406e-81dc-fbe2282b2c55" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-02-26T11:54:03" updateDate="2016-02-26T11:54:03" nodeName="newpage" urlName="newpage" path="-1,1077" isDoc="" nodeType="1049" creatorName="ldaine" writerName="ldaine" writerID="0" template="1048" nodeTypeAlias="homePage">
    <umbracoNaviHide>0</umbracoNaviHide>
  </homePage>
</root>