@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<section id="main">
	@Umbraco.Field("contents")
</section>
<section id="articles">
     <h2>Latest Articles</h2>
</section>  
<section id="projects">
     <h2>Latest Projects</h2>
	@Umbraco.RenderMacro("FiveNewestCompetedProjects")
</section>  